@model List<BasketProduct>
@{
    Layout = "_ClientLayout";
}
<body>
  


    <!--------- cart items details --------->

    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
             


            @foreach (var basketProduct in Model)
            {
                <tr class="product-details">
                    <td>
                        <div class="cart-info">
                            <img width="100%" src="@UploadDirectory.Products.GetUrl(basketProduct.Product.ImageNameInFileSytem)">
                            <div>
                                <p>@basketProduct.Product.Name</p>
                                <small>$@basketProduct.Product.Price</small>
                                <br>
                                <a asp-controller="Basket" asp-action="RemoveBasketProduct" asp-route-basketProductId="@basketProduct.Id">Remove</a>
                            </div>
                        </div>

                        <div class="total-price">
                            <table>
                                <tr>
                                    <td>Subtotal</td>
                                    <td>$@(basketProduct.Product.Price * basketProduct.Quantity)</td>
                                </tr>

                            </table>
                        </div>
                    </td>
                    <td>
                        <div class="quantity">

                            <input class="product-quantity cart-plus-minus-box" data-basket-product-id="@basketProduct.Id"
                                   value="@basketProduct.Quantity"
                                   type="text" />
                            <div class="dec qtybutton">
                                <i class="fa fa-minus"></i>
                            </div>

                            <div class="inc qtybutton">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>

                        
                    </td>
                    <td class="product-subtotal">



                 

                </tr>

            }
            

        </table>

        <div class="cart-page-total">
            <h2>Cart totals</h2>
            <ul>

                <li>Subtotal <span>$@Model.Sum(bp => bp.Quantity * bp.Product.Price)</span></li>
                <li>Total <span>$@Model.Sum(bp => bp.Quantity * bp.Product.Price)</span></li>
            </ul>
            <a href="#">Proceed to checkout</a>
        </div>
       </div>



    <!--------- js for toggle menu --------->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }


      
    </script>

    <script>
        let productQuantitiesIncrease = document.querySelectorAll(".inc")
        let productQuantitiesDecrease = document.querySelectorAll(".dec")

        productQuantitiesIncrease.forEach(pq => {
            pq.addEventListener("click", (e) => {
                updateProductAmount("https://localhost:7013/basket/increase-basket-product", e);
            })
        })

        productQuantitiesDecrease.forEach(pq => {
            pq.addEventListener("click", (e) => {
                updateProductAmount("https://localhost:7013/basket/decrease-basket-product", e);
            })
        })


        function updateProductAmount(updateUrl, e) {
            let productDetailsElement = $(e.target).closest(".product-details");
            let productQuantityElement = productDetailsElement.find(".product-quantity");
            let productAmount = productDetailsElement.find(".product-subtotal").find(".amount");
            let basketProductId = productQuantityElement.data("basket-product-id");

            let url = `${updateUrl}/${basketProductId}`;

            $.ajax(url)
                .done(function (data, _, response) {
                    if (response.status == 200) {
                        productAmount.html(`$${data.total}`);
                    }
                    else if (response.status == 204) {
                        productDetailsElement.remove();
                    }
                })
                .fail(function () {
                    alert("error");
                });
        }
    </script>

   


</body>




<partial name="Partials/Client/_FooterPartialView">
